@font-face {
    font-family: daddy;
    src: url(DaddyinspaceDEMO.otf);
  }

*{
    margin: 0px 0px;
    padding: 0px 0px;
}

/* width */
::-webkit-scrollbar {
    width: 8px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
  
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 2px;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

body{
    /* background-color: black; */
    background-color: rgb(218, 25, 51);
    height: 1000px;
}

/* color: rgb(218, 25, 51); */
h1{
    font-family: 'daddy';
    /* color: rgb(218, 25, 51); */
    color: black;
    padding: 20px 20px;
    font-weight: normal;
    /* font-size: 34px; */
    font-size: 9vw;
}
.line{
    background-color: white;
    width: 80%;
    height: 4px;
    border-radius: 4px;
    margin: auto auto
}